<toolbar></toolbar>
<section style="
        padding-top: 60px;
        display: flex;
        background: white;
        justify-content: center;
        flex-direction: column;
        min-height: calc(100vh - 181px);">
    <div style="display: flex;flex-wrap: wrap;flex-grow: 3;justify-content: flex-start">
        <md-card ng-repeat="one in vm.posts_arr" style="width:33%;margin:0;background: none;box-shadow: none" ng-click="vm.to(one.id)">
            <div style="flex: 1 1 auto;margin:5px;background: white;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)">
                <div ng-style="{backgroundImage:'url('+vm.showUrlPhoto(one.photo_url)+')'}"
                     style="flex: 1 1 auto;width: 100%;height: 200px;background-position: center center;background-size: cover"></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Street</span> {{one.street}}
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
            </div>
            <!--<md-card-actions layout="row" layout-align="end center">-->
            <!--<md-button class="md-icon-button" aria-label="Favorite">-->
            <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
            <!--</md-button>-->
            <!--<md-button class="md-icon-button" aria-label="Settings">-->
            <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
            <!--</md-button>-->
            <!--<md-button class="md-icon-button" aria-label="Share">-->
            <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
            <!--</md-button>-->
            <!--</md-card-actions>-->
        </md-card>
    </div>
</section>

<footer></footer>
